
<div class="administracion_bg">
	<div class="blog">	
		<div class="blog_list">
			<h2 class="style">Junta Directiva de la Asociación</h2>
			<div class="blog_para">
				<p class="para"><a class="popup-with-zoom-anim" href="#small-dialog"><img src="images/pendiente.jpg" alt=""></a>La Junta Directiva está constituida por ciudadanos cartagineses que prestan sus servicios de forma voluntaria; son nombrados por los socios en la Asamblea General. Las sesiones ordinarias se llevan a cabo una vez al mes y se hacen reuniones extraordinarias cada vez que sea necesario. </p>
				<div class="clear"></div>
			</div>
		</div>
		<div class="blog_list">
			<h2 class="style">Administración del Asilo</h2>
			<div class="blog_para">
				<p class="para"><a class="popup-with-zoom-anim" href="#small-dialog"><img src="images/administracion/hermanas_Franciscanas.png" alt=""></a>La administración están a cargo de religiosas de la Congregación de Hermanas Franciscanas de la Purísima Concepción. </p>
			</div>
		   <div class="clear"></div>				
		</div>
		<div class="blog_list">
			<h2 class="style">Colaboradores</h2>
			<div class="blog_para">
				<p class="para"><a class="popup-with-zoom-anim" href="#small-dialog"><img src="images/administracion/colaboradores.png" alt=""></a>Nuestros colaboradores son los encargados de cuidar diariamente a los adultos mayores que se encuentra en la institución</p>
			</div>
		   <div class="clear"></div>				
		</div>		 
	</div>
</div>
