<div class="contacto_bg">
	<div class="main">
		<div class="grids_1_of_3">
			<div class="grid_1_of_3 images_1_of_3">
				 <img src="images/contacto/correo.png" alt="" />
				 <a href="#"><h3>Correo</h3></a>
				 <p> Orillas, cuido de las plantas, abono. </p>
			</div>
			<div class="grid_1_of_3 images_1_of_3">
				<img src="images/contacto/telefono.png" alt="" />
				<a href="#"><h3>Teléfonos</h3></a>
				<p>Asistencia para darle de comer a los asilados y asiladas</p>
			</div>
			<div class="grid_1_of_3 images_1_of_3">
				<img src="images/contacto/fax.png" alt="" />
				<a href="#"><h3>Fax</h3></a>
				<p>Personas que lean cuentos, historias, manualidades, pintura, canto, música, bailes. </p>
			</div>
			<div class="clear"></div>
		</div>
		<div class="contact">	
			<div class="contact_info">
				<h2 class="style">Información del personal</h2>
				<table style="width:100%">
					<tr>
						<th>DEPARTAMENTO</th>
						<th>ENCARGADO(A)</th>		
						<th>TELÉFONO / EXTENSIÓN</th>
					</tr>
					<tr>
						<td> Administración</td>
						<td>Sor Isabel Bogantes</td>
						<td>2551-0224</td>
					</tr>
					<tr>
						<td>Secretaría</td>
						<td>Silvia Madrigal</td>	
						<td>103/104</td>
					</tr>
					<tr>
						<td>Fisioterapia</td>
						<td>Juan Miguel Rivera</td>	
						<td>2551-0224</td>
					</tr>
					<tr>
						<td>Enfermería</td>
						<td>Sor Delia Morales</td>	
						<td>111</td>
					</tr>
					<tr>
						<td>Mantenimiento</td>
						<td>Adrián Solano</td>	
						<td>2551-0224</td>
					</tr>
					<tr>
						<td>Contaduría</td>
						<td>Leonora Redondo</td>	
						<td>103/104</td>
					</tr>
				</table>

			</div>			
			<div class="contact_info">
				<h2 class="style">Ubicanos</h2>
				<div class="map">
					<iframe width="100%" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d18200.31219122423!2d-83.923145!3d9.869144!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x379e9104e2a3531b!2sAsilo+de+la+Vejez!5e1!3m2!1sen!2s!4v1431397846327">
					</iframe>
					<br>
					<small>
						<a href="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d18200.31219122423!2d-83.923145!3d9.869144!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x379e9104e2a3531b!2sAsilo+de+la+Vejez!5e1!3m2!1sen!2s!4v1431397846327" style="color:#202227;text-align:left;font-size:1em">Ver el mapa ampliado</a>
					</small>
				</div>
      		</div>	  	
		</div>
	</div>
</div>