<div class="cuidoAdulto_bg">
	<div class="blog">	
		<div class="blog_list">
			<h2 class="style">Cuido del adulto mayor</h2>
			<div class="blog_para">
				<p class="para"><a class="popup-with-zoom-anim" href="#small-dialog"><img src="images/cuidado.jpg" alt=""></a>En la actualidad se da servicio a 100 adultos mayores, preferiblemente para la ciudadanía cartaginesa. Aproximadamente un 75% de la población tiene algún tipo de discapacidad, por lo que se debe dar mayor atención y demanda más cuido. </p>
				<div class="clear"></div>
			</div>
		</div>	 
	</div>
</div>