<div class="comoayudar_bg">
	<div class="blog">	
		<div class="blog_list">
			<h2 class="style">Donaciones</h2>
			<div class="blog_para">
				<p class="para"><a class="popup-with-zoom-anim" href="#small-dialog"></a>Para ayudar nuestros adultos mayores es fácil, una de las opciones es por medio de donaciones, como por ejemplo: alimentos, ropa, cobijas, dinero, trabajo voluntario.
				 </p>


				 <table style="width:100%">
					<tr>
						<th>BANCO</th>
						<th>CUENTA</th>		
						<th>CC (SINPE)</th>
					</tr>
					<tr>
						<td> Banco Crédito Agrícola de Cartago</td>
						<td>0001029925</td>		
						<td>1530200010299250</td>
					</tr>
					<tr>
						<td>Banco Nacional de Costa Rica</td>
						<td>100-1-075-007968-1</td>		
						<td>15107510010079681  </td>
					</tr>
					<tr>
						<td>Banco de Costa Rica</td>
						<td>275-0004560-8</td>		
						<td>15201275000456081</td>
					</tr>
				</table>


				<div class="clear"></div>
			</div>
		</div>	 
	</div>
</div>