<div class="top_grid_bg">
    <div class="wrap">
        <div class="top_grid">
            <div class="top_grid_text">
                <h2>Galería</h2>
            </div>
            <div class="clear"></div>

            <div class="top_grid_gallery">
                <link rel="stylesheet" href="css/swipebox.css">
                <script src="js/jquery.swipebox.min.js"></script>
                <script type="text/javascript">
                    jQuery(function($) {
                        $(".swipebox").swipebox();
                    });
                </script>

                <div class="image_grid portfolio_4col top_grid_portfoli">
                    <div class="portfolio-wrapper">
                        <a href="http://www.dwuser.com/education/content/creating-responsive-tiled-layout-with-pure-css/images/demo/10.jpg" class="b-link-stripe b-animate-go  swipebox">
                            <img src="http://www.dwuser.com/education/content/creating-responsive-tiled-layout-with-pure-css/images/demo/10.jpg" class="img-responsive" />
                        </a>
                    </div>

                </div>

                <div class="image_grid portfolio_4col top_grid_portfoli">
                    <div class="portfolio-wrapper">
                        <a href="images/gallery2.jpg" class="b-link-stripe b-animate-go  swipebox">
                            <img src="images/gallery2.jpg" class="img-responsive" />

                            <div class="b-wrapper">
                                <ul class="b-animate b-from-left    b-delay03 ">
                                    <li><span class="link_post"></span></li>
                                    <li><span class="zoom"></span></li>
                                </ul>
                            </div>

                        </a>
                    </div>
                </div>

                <div class="image_grid portfolio_4col top_grid_portfoli">
                    <div class="portfolio-wrapper">
                        <a href="images/gallery3.jpg" class="b-link-stripe b-animate-go  swipebox">
                            <img src="images/gallery3.jpg" class="img-responsive" />
                            <div class="b-wrapper">
                                <ul class="b-animate b-from-left    b-delay03 ">
                                    <li><span class="link_post"></span></li>
                                    <li><span class="zoom"></span></li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="image_grid portfolio_4col ">
                    <div class="portfolio-wrapper">
                        <a href="images/gallery4.jpg" class="b-link-stripe b-animate-go  swipebox">
                            <img src="images/gallery4.jpg" class="img-responsive" />
                            <div class="b-wrapper">
                                <ul class="b-animate b-from-left    b-delay03 ">
                                    <li><span class="link_post"></span></li>
                                    <li><span class="zoom"></span></li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>