<div class="hospital_bg">
	<div class="blog">	
		<div class="blog_list">
			<h2 class="style">Hospital</h2>
			<div class="blog_para">
				<p class="para"><a class="popup-with-zoom-anim" href="#small-dialog"><img src="images/hospital.jpg" alt=""></a>Los problemas de salud que con más frecuencia presentan nuestros adultos mayores y los cuales en su mayoría son atendidos en el Asilo son:
				 </p>

				<ul>
				  <li>Problemas mentales. </li>
				  <li>Deficiencia cardiaca. </li>
				  <li>Problemas respiratorios. </li>
				  <li>Enfermedades terminales. </li>
				  <li>Reumatismo. </li>
				  <li>Minusvalía en general. </li>
				  <li>Demencia Senil. </li>
				  <li>Diabetes. </li>
				</ul>

				<div class="clear"></div>
			</div>
		</div>	 
	</div>
</div>