

<div class="mision_vision_bg">

    <div class="mid_grid_bg">
        <div class="wrap">
            <div class="mid_grid">
                <div class="mid_grid_right">
                    <h2>Misión</h2>
                    <h3>Velar por los adultos mayores bajo nuestra proteccíon, para que disfruten de una vida digna, provistos de necesidades básicas y en un ambiente solidario, lleno de calor humano y amor.</h3>
                </div>
                <div class="mid_grid_left">
                    <img src="images/mision.png" alt=""/>
                </div>
                <div class="clear"></div>   
            </div>
        </div>
    </div>
    <div class="mid_grid_bg">
        <div class="wrap">
            <div class="mid_grid">
                <div class="mid_grid_right">
                    <h2>Visión</h2>
                    <h3>Ser una institución especializada en la atención y el cuidado de adultos mayores, a los que se les ofrece asistencia integral, dentro de un marco de respeto y solidaridad; además de apoyarlos en la mitigación de las necesidades básicas y humanitarias.</h3>
                </div>
                <div class="mid_grid_left">
                    <img src="images/vision.png" alt=""/>
                </div>
                <div class="clear"></div>   
            </div>
        </div>
    </div>
</div>