<div class="comoayudar_bg">
	<div class="blog">	
		<div class="blog_list">
			<h2 class="style">Reciclaje</h2>
			<div class="blog_para">
				<p class="para"><a class="popup-with-zoom-anim" href="#small-dialog"></a>En el Asilo de la Vejez de Cartago recibimos reciclaje debidamente clasificado, limpio y seco. Usted puede traer: 
				 </p>

				 <br>
				 <table style="width:100%">
					<tr>
						<th>Materiales recibidos</th>
					</tr>
					<tr>
						<td>Cartón</td>
					</tr>
					<tr>
						<td>Botellas de vidrio</td>
					</tr>
					<tr>
						<td>Latas y Aluminio</td>
					</tr>
					<tr>
						<td>Botellas de plástico</td>
					</tr>
					<tr>
						<td>Tetra Brik</td>
					</tr>
					<tr>
						<td>Papel blanco y colores</td>
					</tr>
					<tr>
						<td>Periódico</td>
					</tr>
					<tr>
						<td>Revistas</td>
					</tr>
				</table>


				<div class="clear"></div>
			</div>
		</div>	 
	</div>
</div>