<div class="main_bg">
	<div class="wrap">
	<div class="main">
		<div class="ser-main">
			<h2 class="style">Servicios</h2>
			<div class="ser-para">
				<p class="para">Por tratarse de un hogar, nuestros ancianos están aquí en forma permanente, por lo tanto se les atiende en todas sus necesidades de albergue, alimentación, vestuario, servicios médicos, servicos religiosos y en general se cubren todas sus necesidades. Dependiendo del caso, en algunas ocasiones se dan los servicios fúnebres. Aparte de eso, los adultos mayores reciben terapia física, recreativa y ocupacional. Se tienen programadas una serie de actividades manuales, recreativas, sociales, culturales y religiosas. De ahí que nuestros beneficiarios realizan diariamente distintas actividades que les ayudan a mantenerse activos tanto física como mentalmente. </p>
			</div>
			<div class="ser-grid-list img_style">
				<div class="gallery">
					<a class="popup-with-zoom-anim" href="#small-dialog"><img src="images/servicios/servicio_albergue.jpg" title="Servicio de Albergue"></a>

						<!-- start popup -->
				 				<div id="small-dialog" class="mfp-hide">
									<div class="pop_up">
									 	<h2>our Service</h2>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic</p>
						  			</div>
								</div>
						<!-- end popup -->	
				</div>
				<p class="para">Qsi turpis, pellentesque at ultrices in, dapibus in magna. Nunc easi diam risus, placerat ut scelerisque et, placerat ut scelerisque ,Nunc easi diam risus, placerat ut scelerisque et, </p>
				<div class="read_more">
					<a class="popup-with-zoom-anim btn btn_s" href="#small-dialog" >Ver más</a>
				</div>
			</div>
			
			<div class="ser-grid-list img_style">
				<div class="gallery">
					<a class="popup-with-zoom-anim" href="#small-dialog"><img src="images/servicios/servicio_alimentacion.jpg" title="Servicio de alimentación"></a>
				</div>
				<p class="para">Qsi turpis, pellentesque at ultrices in, dapibus in magna. Nunc easi diam risus, placerat ut scelerisque et,placerat ut scelerisque Nunc easi diam risus, placerat ut scelerisque et, </p>
				<div class="button1">
					<a class="popup-with-zoom-anim btn btn_s" href="#small-dialog" >Ver más</a>
				</div>
			</div>
			<div class="ser-grid-list img_style">
				<div class="gallery">
					<a class="popup-with-zoom-anim" href="#small-dialog"><img src="images/servicios/servicio_vestuario.jpg" title="Servicio de Vestuario"></a>
				</div>
				<p class="para">Qsi turpis, pellentesque at ultrices in, dapibus in magna. Nunc easi diam risus, placerat ut scelerisque etplacet scelerisque ,Nunc easi diam risus, placerat ut scelerisque et, </p>
				<div class="button1">
					<a class="popup-with-zoom-anim btn btn_s" href="#small-dialog" >Ver más</a>
				</div>
			</div>
			<div class="ser-grid-list img_style">
				<div class="gallery">
					<a class="popup-with-zoom-anim" href="#small-dialog"><img src="images/servicios/servicio_medico.jpg" title="Servicios médicos"></a>
				</div>
				<p class="para">Qsi turpis, pellentesque at ultrices in, dapibus in magna. Nunc easi diam risus, placerat ut scelerisque etplacet scelerisque ,Nunc easi diam risus, placerat ut scelerisque et, </p>
				<div class="button1">
					<a class="popup-with-zoom-anim btn btn_s" href="#small-dialog" >Ver más</a>
				</div>
			</div>
			<div class="clear"></div>
			</div>




			<!--SERVICIOS ADICIONALES-->
			<div class="ser-main">
			<div class="ser-grid-list img_style">
				<div class="gallery">
					<a class="popup-with-zoom-anim" href="#small-dialog"><img src="images/servicios/servicio_terapiaFisica.jpg" title="Servicio de Terapia Física"></a>
						<!-- start popup -->
				 				<div id="small-dialog" class="mfp-hide">
									<div class="pop_up">
									 	<h2>our Service</h2>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic</p>
						  			</div>
								</div>
							<!-- end popup -->	
				</div>
				<p class="para">Qsi turpis, pellentesque at ultrices in, dapibus in magna. Nunc easi diam risus, placerat ut scelerisque et, placerat ut scelerisque ,Nunc easi diam risus, placerat ut scelerisque et, </p>
				<div class="read_more">
					<a class="popup-with-zoom-anim btn btn_s" href="#small-dialog" >Ver más</a>
				</div>
			</div>
			<div class="ser-grid-list img_style">
				<div class="gallery">
					<a class="popup-with-zoom-anim" href="#small-dialog"><img src="images/servicios/servicio_terapiaRecreativa.jpg" title="Terapia Recreativa"></a>
				</div>
				<p class="para">Qsi turpis, pellentesque at ultrices in, dapibus in magna. Nunc easi diam risus, placerat ut scelerisque et,placerat ut scelerisque Nunc easi diam risus, placerat ut scelerisque et, </p>
				<div class="button1">
					<a class="popup-with-zoom-anim btn btn_s" href="#small-dialog" >Ver más</a>
				</div>
			</div>
			<div class="ser-grid-list img_style">
				<div class="gallery">
					<a class="popup-with-zoom-anim" href="#small-dialog"><img src="images/servicios/servicio_religioso.jpg" title="Servicio Religioso"></a>
				</div>
				<p class="para">Qsi turpis, pellentesque at ultrices in, dapibus in magna. Nunc easi diam risus, placerat ut scelerisque etplacet scelerisque ,Nunc easi diam risus, placerat ut scelerisque et, </p>
				<div class="button1">
					<a class="popup-with-zoom-anim btn btn_s" href="#small-dialog" >Ver más</a>
				</div>
			</div>
			<div class="ser-grid-list img_style">
				<div class="gallery">
					<a class="popup-with-zoom-anim" href="#small-dialog"><img src="images/servicios/servicio_actividades.jpg" title="Actividades"></a>
				</div>
				<p class="para">Qsi turpis, pellentesque at ultrices in, dapibus in magna. Nunc easi diam risus, placerat ut scelerisque etplacet scelerisque ,Nunc easi diam risus, placerat ut scelerisque et, </p>
				<div class="button1">
					<a class="popup-with-zoom-anim btn btn_s" href="#small-dialog" >Ver más</a>
				</div>
			</div>
			<div class="clear"></div>
			</div>


			<!-- Add fancyBox main JS and CSS files -->
			<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
			<link href="css/magnific-popup.css" rel="stylesheet" type="text/css">
			<script>
				$(document).ready(function() {
					$('.popup-with-zoom-anim').magnificPopup({
						type: 'inline',
						fixedContentPos: false,
						fixedBgPos: true,
						overflowY: 'auto',
						closeBtnInside: true,
						preloader: false,
						midClick: true,
						removalDelay: 300,
						mainClass: 'my-mfp-zoom-in'
				});
			});
			</script>
			<div class="clear"></div>
		</div>
	</div>
</div>