<div class="comoayudar_bg">
	<div class="blog">	
		<div class="blog_list">
			<h2 class="style">Trabajo Comunal</h2>
			<div class="blog_para">
				<p class="para"><a class="popup-with-zoom-anim" href="#small-dialog"><img src="images/pendiente.jpg" alt=""></a>En el Asilo de la Vejez de Cartago Claudio María Volio Jiménez tenemos las puertas abiertas para cualquier estudiante de universidad, colegio académico, técnico o universitario que desee realizar su trbajo comunal en la institución. Para hacerlo solo debes acercarte a nuestras instalaciones, llamarnos a los números telefónicos o bien por medio de correo electrónico que se encutentran en el sitio Web.</p>
				<div class="clear"></div>
			</div>
		</div>	
	</div>
</div>