<div class="comoayudar_bg">
	<div class="blog">	
		<div class="blog_list">
			<h2 class="style">Voluntariado</h2>
			<div class="blog_para">
				<p class="para"><a class="popup-with-zoom-anim" href="#small-dialog"><img src="images/pendiente.jpg" alt=""></a>Nuestra institución requiere mucha ayuda tanto económica como laboral. El personal de voluntariado es muy importante para la institución. Para colaborar usted puede integrarse al voluntariado, pues nos hace falta de personal. 
				 </p>

				
				 <p class="para"><a class="popup-with-zoom-anim" href="#small-dialog"></a> Si desea ayudar al Asilo de la Vejez de Cartago, es fácil hacerlo, soacutelo debes acercarte a nuestras instalaciones, llamarnos a los números telefónicos o bien por medio de correo electrónico que se encutentran en el sitio Web.
				 </p>

	
				<div class="clear"></div>
			</div>
		</div>	

		<div class="wrap">
			<h2 class="style">Actividades</h2>
			<div class="grids_1_of_3">
				<div class="grid_1_of_3 images_1_of_3">
					 <img src="images/voluntariado/reciclaje.png" alt="" />
					 <a href="#"><h3>Reciclaje</h3></a>
				</div>
				<div class="grid_1_of_3 images_1_of_3">
					<img src="images/voluntariado/lavanderia.jpg" alt="" />
					<a href="#"><h3>Labores en la ropería</h3></a>
					<p>Doblar ropa, aplanchar, remendar, pegar botones, hacer ruedos, delantales, pijamas, sábanas, fundas y otros.</p>
				</div>
				<div class="grid_1_of_3 images_1_of_3">
					<img src="images/voluntariado/barberia.jpg" alt="" />
					<a href="#"><h3>Servicio en la barbería</h3></a>
					<p>Hacer barbas, pedicure, manicure</p>
				</div>
				<div class="clear"></div>
			</div>
			<div class="grids_1_of_3">
				<div class="grid_1_of_3 images_1_of_3">
					 <img src="images/voluntariado/jardineria.png" alt="" />
					 <a href="#"><h3>Jardinería</h3></a>
					 <p> Orillas, cuido de las plantas, abono. </p>
				</div>
				<div class="grid_1_of_3 images_1_of_3">
					<img src="images/voluntariado/alimentacion.jpg" alt="" />
					<a href="#"><h3>Alimentación</h3></a>
					<p>Asistencia para darle de comer a los asilados y asiladas</p>
				</div>
				<div class="grid_1_of_3 images_1_of_3">
					<img src="images/voluntariado/entretenimiento.jpg" alt="" />
					<a href="#"><h3>Entretenimiento</h3></a>
					<p>Personas que lean cuentos, historias, manualidades, pintura, canto, música, bailes. </p>
				</div>
				<div class="clear"></div>
			</div>
		</div>


	</div>
</div>